.o1{
    background-color:aqua;
    text-align: center;
    margin-bottom: 15%;
}
.bl{
    background-color: skyblue;
    flex-direction: column;
    text-align: center;
}
.danger{
    background-color: red;
}
.primary{
    background-color: royalblue;
}